<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="navbar-brand">Hudukko</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="auth.user | async as user">{{user.displayName }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="auth.user | async as user" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
