<div class="container ml-auto" *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
  <div class="card bg-dark mb-3 ml-3" style="width: 18rem;">
    <div class="card-body align-items-center">
      <h4 class="card-title text-light">Hello, Guest</h4>
      <br />
      <p class="text-warning">Please Login To Get Started</p>
    </div>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="card bg-dark mb-3" style="width: 18rem;">
    <div class="card-body align-items-center" *ngIf="auth.user | async as user">
      <h4 class="card-title text-warning">Hey, {{ user.displayName }}</h4>
      <a href="#" class="btn btn-primary" (click)="logout()">Logout</a>
    </div>
  </div>
</ng-template>
