<div class="container">
  <h1 class="mb-5 text-warning">About Hudukko</h1>
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="card align-items-center">
        <div class="card-body">
          <p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. This project is aimed at exposing the relevance and importance of web scraping in order to implement a searching tool as an application. Using this tool, the consumer can directly search amongst multiple online shopping websites like Amazon, Flipkart and Snapdeal.</p>
        </div>
      </div>
    </div>
  </div>
</div>
